<ul class="forum_posts_list">
    {% for post in posts %}
    <li id="{{ post.getNumber() }}">
        <div class="metas">
            <div class="author">
                <span class="username">{{ post.authorName }}</span>
            </div>
            <div class="date">
                <span class="createdAt">{{ _view.time.ago(post.getCreatedAt()) }}</span>
            </div>
        </div>
        <div class="content">
            {{ _view.markdown.transform(post.getMessage())|raw }}
        </div>
    </li>
    {% endfor %}
</ul>
