<ul class="forum_posts_list">
    {% for post in posts %}
    <li id="{{ post.number}}">
        <div class="metas">
            <div class="author">
                <span class="username">{{ post.authorName }}</span>
            </div>
            <div class="date">
                <span class="createdAt">{{ post.createdAt|date }}</span>
            </div>
        </div>
        <div class="content">
            {{ post.message }}
        </div>
    </li>
    {% endfor %}
</ul>
