<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome{% endblock %}</title>
        {{ stylesheet('bundles/forum/css/forum.css') }}
        {% stylesheets %}
        {% javascripts %}
    </head>
    <body>
        <div id="header">
            <h1 id="site-identity" class="container">
                <span class="name">ForumBundle</span>
                <span class="slogan">A simple Symfony2 forum</span>
            </h1>
        </div>
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
