<ul class="forum_categories_list">
    {% for category in categories %}
    <li>
        <div class="content">
            <a class="name" href="{{ forum_urlForCategory(category) }}">{{ category.name }}</a>
        </div>
        <div class="metas">
            <span class="numTopics">{{ category.numTopics }} {{ category.numTopics > 1 ? 'topics' : 'topic' }}</span>
        </div>
    </li>
    {% endfor %}
</ul>
