<ul class="forum_categories_list">
    {% for category in categories %}
    <li>
        <div class="content">
            <a class="name" href="{{ forum_urlForCategory(category) }}">{{ category.name }}</a>
        </div>
        <div class="metas">
            <span class="numTopics"> {{ 'category.topicCount' | transchoice(category.numTopics, {'%count%': category.numTopics}, 'HerzultForumBundle') }}</span>
        </div>
    </li>
    {%else%}
    <li>Es existieren keine untergeordneten Kategorien.</li>
    {% endfor %}
</ul>
