{% extends 'ForumBundle::layout.twig' %}

{% block title %}ForumBundle, a simple Symfony2 forum{% endblock %}

{% block content %}
<div class="forum forum_index">
    <ul class="crumbs">
        <li>Forum</li>
    </ul>
    <div class="main topics">
        <h2>All topics</h2>
        {% render 'ForumBundle:Topic:list' with ["page": page] %}
    </div>
    <div class="side categories">
        <h2>Categories</h2>
        {% render 'ForumBundle:Category:list' %}
        <h2>Participate</h2>
        <p><a href="{% route 'forum_topic_new' %}">Create a new topic</a></p>
    </div>
</div>
{% endblock %}
