{% extends 'ForumBundle::layout.twig' %}
{% block title %}Search in forum{% endblock %}
{% block content %}
<div class="forum forum_search">
    <ul class="crumbs">
        <li>Forum</li>
    </ul>
    <form class="clearfix" action="{% path forum_search %}" method="get">
        {{ form|render }}
        <div>
            <button type="submit" value="Search">Search</button>
        </div>
    </form>
</div>
{% endblock %}
