{% extends 'HerzultForumBundle::layout.html.twig' %}
{% block content %}
<div class="forum forum_search">
    <form class="clearfix" action="{{ url('herzult_forum_search') }}" method="get">
        <div>
            <label for="q">{{ form_label(form.query) }}</label>
            <input type="text" name="q" value="{{ query }}" />
        </div>
        <div>
            <button type="submit" value="Search">{{'forum.search' | trans({}, 'HerzultForumBundle')}}</button>
        </div>
    </form>

    <div class="main topic">
        {% include 'HerzultForumBundle:Post:list.html.twig' with {'posts': results } %}
    </div>
</div>
{% endblock %}
