{% extends 'HerzultForumBundle::layout.html.twig' %}
{% block title %}New Topic{% endblock %}
{% block content %}
<div class="forum topic_new">
    <ul class="crumbs">
        <li><a href="{{ path('herzult_forum_index') }}">Forum</a></li>
        <li>New Topic</li>
    </ul>
    <div class="main">
        <h2>New Topic</h2>
        <form action="{{ path('herzult_forum_category_topic_create', {'slug': category.slug}) }}" method="post">
            {{ form_widget(form) }}
            <button type="submit" name="create">Create topic</button>
        </form>
    </div>
    <div class="side">
        <p><a href="{{ path('herzult_forum_index') }}">Cancel</a></p>
    </div>
</div>
{% endblock %}
