<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ topic.subject }}</title>
    <id>{{ forum_urlForTopic(topic, true) }}</id>
    <updated>{{ topic.pulledAt|date('c') }}</updated>
    {% include 'HerzultForumBundle:Post:list.xml.twig' with {'posts': posts} %}
</feed>
