<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ topic.getSubject() }}</title>
    <id>{{ _view.forum.urlForTopic(topic) }}</id>
    <updated>{{ topic.getPulledAt().format('c') }}</updated>
    {% include 'ForumBundle:Post:list.twig' with ['posts': posts] %}
</feed>
